@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body, html{
    height: 100%;
    font-family: 'Roboto','Poppins', sans-serif;
}

#holder{
    min-height: 100%;
    position:relative;
}

#body{
    padding-bottom: 40pt;     /* height of footer */
}
#container-table{
    overflow-x:auto;
}

footer{
    height: 40pt;
    width:100%;
    position: absolute;
    bottom: 0;
    left: 0;
    color: rgb(255,255,255);
    background-color: #1565c0;
    font-size: 1vmax;
    border-style: groove;
    border-width: 0pt;
    line-height: 40pt;
    text-align: center;

}