@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body, html {
    height: 100%;
    font-family: 'Roboto', 'Poppins', sans-serif;
}

#holder {
    min-height: 100%;
    position: relative;
}

#body {
    /*padding-bottom: 0pt;*/ /* height of footer */
    border-bottom: transparent;
    border-bottom-width: 40pt;
}

#container-table {
    overflow-x: auto;
}

footer {
    height: 40pt;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    color: rgb(255, 255, 255);
    background-color: #1565c0;
    font-size: 0.9vmax;
    border-style: groove;
    border-width: 0pt;
    line-height: 40pt;
    text-align: center;
}

#navTop {
    height: 40pt;
    background-color: #1565c0;
}

#linkLandPag {
    color: rgb(255, 255, 255);
    float: left;
    height: 38pt;
    padding: 1pt;
    line-height: 40pt;
}

#logoMin {
    height: 38pt;
    padding-top: 1pt;
    padding-bottom: 1pt;
    padding-right: 1pt;
    /*padding: 0px;margin: 0px;*/
    float: left;
    line-height: 40pt;
}

#selLang {
    color: white;
    float: right;
    height: 40pt;
    line-height: 40pt;
    padding-right: 2pt;
}

#SSN {
    text-shadow: 1px 1px black;
    font-size: 4vw;
}

#welcome {
    text-shadow: 1px 1px black;
    font-size: 2vw;
}

#welBtn {
    box-shadow: 1pt 1pt black;
    font-size: 2vw;
    width: 30%;
    background-color: #1e88e5
}

@media screen and (max-width: 768px ) {
    #selLang {
        font-size: 7pt;
    }
}

@media screen and (max-width: 768px ) {
    #linkLandPag {
        font-size: 12pt;
    }
}

@media screen and (max-width: 768px ) {
    #SSN {
        font-size: 13pt;
    }
}

@media screen and (max-width: 768px ) {
    #welcome {
        font-size: 9pt;
    }
}

@media screen and (max-width: 768px ) {
    #welBtn {
        font-size: 7pt;
    }
}